<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="first" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <!-- log4j setting -->
		<Logger name="jdbc" level="OFF"/>
		<Logger name="jdbc.sqlonly" level="INFO" />
		<Logger name="jdbc.resultsettable" level="OFF"/>
		<Logger name="jdbc.sqltiming" level="OFF"/>
		<Logger name="jdbc.resultset" level="OFF"/>
		<Logger name="jdbc.audit" level="OFF"/>
		<Logger name="jdbc.connection" level="OFF"/>
		<!-- /log4j setting -->

        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
